<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Pantry</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>View <%= users.username %>'s Pantry!</h1>
    <ul>
        <% pantry.forEach(item => {  %>
            <a href="/communityPage/<%= users._id %>/<%= item._id %>">
                <li><%= item.name %></li>
            </a>
       <%  }) %>
    </ul>
</body>
</html>